/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    will-change: opacity;
    -webkit-will-change: opacity;
}

@keyframes zoomIn {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(1.3);
    }
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    will-change: transform;
    -webkit-animation-name: zoomIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-will-change: transform;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity:  0;
        transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        transform: translate(0, 100%);
        -webkit-transform: translate(0, 100%);
    }
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
}