@media (max-width: 600px) {
    .main-section h1 {
        padding:  4%;
    }
    .products, .categories, .testimonials {
        display: inherit;
        height: auto;
    }

    .product {
        padding: 0px 25px;
        margin-top: 100px;
        max-width: none;
    }

    .category {
        max-width: none;
        margin-bottom: 60px;
        padding: 0 20%;
    }
    .category-content .img-content {
        margin-top: auto;
        height: auto;
    }

    .testimonials {
        justify-content: center;
    }
    .testimonial {
        margin-bottom: 30px;
        max-width: none;
        padding: 0 20%;
    }
    .testimonials .content {
        max-width: none;
    }

 } 